* {
    text-align: end;
    color: white;
}

body {
    background-image: radial-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(https://images3.alphacoders.com/575/thumb-1920-575608.jpg);
}

h1 {
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}

#oi {
    background-color: white;
    color: black;
}